:root {
    --title-default-color: #fff;
    --title-light-color: #fff;
    --title-dark-color: #000;
    --title-primary-color: #fff;
    --title-secondary-color: #fff;
    --title-hover-color: #000;
    --title-active-color: #000;
    --title-focus-color: #000;
    --sub-title-default-color: #08C9AD;
    --sub-title-light-color: #fff;
    --sub-title-dark-color: #000;
    --sub-title-primary-color: #fff;
    --sub-title-secondary-color: #fff;
    --sub-title-hover-color: #000;
    --sub-title-active-color: #000;
    --sub-title-focus-color: #000;
    --typo-default-color: rgba(250, 250, 250, 0.8);
    --typo-light-color: #fff;
    --typo-dark-color: #000;
    --typo-primary-color: #fff;
    --typo-secondary-color: #fff;
    --typo-hover-color: #000;
    --typo-active-color: #000;
    --typo-focus-color: #000;
    --link-default-color: rgba(250, 250, 250, 0.8);
    --link-light-color: #fff;
    --link-dark-color: #000;
    --link-primary-color: #fff;
    --link-secondary-color: #fff;
    --link-hover-color: #000;
    --link-active-color: #000;
    --link-focus-color: #000;
    --btn-default: transparent;
    --btn-primary: #2867CE;
    --btn-disabled: rgb(49, 52, 75);
    --btn-hover-default: #2AAA8A;
    --btn-focus-default: #2AAA8A;
    --btn-active-default: #2AAA8A;
    --btn-hover-primary: #2560c0;
    --btn-active-primary: #2AAA8A;
    --btn-focus-primary: #2AAA8A;
    --btn-default-color: #fff;
    --btn-primary-color: #fff;
    --btn-hover-default-color: #fff;
    --btn-active-default-color: #2AAA8A;
    --btn-focus-default-color: #fff;
    --btn-hover-primary-color: #fff;
    --btn-active-primary-color: #fff;
    --btn-focus-primary-color: #fff;
    --btn-border-default: #08C9AD;
    --btn-border-primary: transparent;
    --btn-border-hover-default: #2AAA8A;
    --btn-border-active-default: #2AAA8A;
    --btn-border-focus-default: #2AAA8A;
    --btn-border-active-primary: transparent;
    --btn-border-hover-primary: transparent;
    --btn-border-focus-primary: transparent;
    --btn-disabled: #fff;
    --input-default-title: #fff;
    --input-light-title: #fff;
    --input-dark-title: #000;
    --input-primary-title: #fff;
    --input-title-hover-color: #000;
    --input-title-active-color: #000;
    --input-title-focus-color: #000;
    --input-default-label: #fff;
    --input-light-label: #fff;
    --input-dark-label: #000;
    --input-label-hover-color: #fff;
    --input-label-active-color: #fff;
    --input-label-focus-color: #fff;
    --input-default-place: #fff;
    --input-light-place: #666;
    --input-dark-place: #000;
    --input-primary-place: #fff;
    --input-hover-place: #fff;
    --input-active-place: #000;
    --input-focus-place: #fff;
    --input-default-bg: #45b664;
    --input-light-bg: #fff;
    --input-dark-bg: #000;
    --input-primary-bg: #fff;
    --input-focus-bg: #45b664;
    --input-active-bg: #000;
    --input-default-border: #45b664;
    --input-light-border:rgba(255, 255, 255, 0.30);
    --input-dark-border: #000;
    --input-primary-border: #fff;
    --input-active-border: #000;
    --input-focus-border: #45b664;
}