table{
}

table, th, td {
    padding: 0.5rem;
    font-size: 1.6rem;
    white-space: nowrap;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

._user_info {
    display: grid;
    padding: 12rem 0;
    justify-content: center;

    &_container {
        max-width: 90vw;
        overflow: auto;
    }
    
    &_wrapper {
        border: 0;
        width: 100%;
        overflow: auto;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
    }

    &_title {
        cursor: pointer;
        
        &:hover {
            color: var(--btn-hover-primary);
        }
    }
}

._pagination {
    &_ul {
        display: flex;
        margin:0 auto;
        align-items: center;
        width: fit-content;
        padding-top : 15px;
    }
    
    &_li {
        display: inline-block;
        
        &.disabled ._pagination_link {
            opacity: 0;
        }

        &.active ._pagination_link {
            background-color: var(--btn-hover-primary);
            border-color: var(--btn-hover-primary);
            color: #fff;
        }
    }
    
    &_link {
        padding: 6px 8px;
        min-width: 32px;
        min-height: 32px;
        border-radius: 8px;
        margin-left: 0;
        margin-right: 8px;
        border: 1px solid #fff;
        font-size: 12px;
        font-weight: 500;
        color: #8A93A6;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        
        &:hover {
            background-color: var(--btn-hover-primary);
            border-color: var(--btn-hover-primary);
            color: #fff;
        }
    }
    
}












._modal {
    padding: 20px;
    border-radius: 5px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #00011C;
    
    &_overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_close {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
  
  














  
._user_card {
    background: #00011C;
    box-shadow: 0 0 12px rgba(0,0,0,0.25);
    border-radius: 2px;
    min-width: 150px;
    max-width: 400px;
    box-sizing: border-box;
    padding: 0 20px;
    
    &_personal_info {
        gap: 1rem;
        display: flex;
        font-size: 1.6rem;
        
        &_title {
            color: #fff;
            font-size: 2.4rem;
            text-align: center;
        }

        &_bio {
            padding: 1rem;
            border-top:1px solid rgba(255, 255, 255, 0.1);

            p {
                font-size: 1.6rem;
                color: rgba(255, 255, 255, 0.8);
            }

            ul {
                margin-top: 1rem;
                width: 100%;
                list-style: none;
                border-top:1px solid rgba(255, 255, 255, 0.1);
                
                li span{
                   display: flex;
                   font-size: 14px;
                   width: 100%;
                 }
            }
            
        }
    }

    header {
        gap: 1rem;
        display: flex;
        padding: 1rem;
        flex-direction: column;
    }
}
  