// All _headings Sizes
$_h1: 4rem;
$_h1_line: calc($_h1 + 1rem);
$_h2: 3rem;
$_h2_line: calc($_h2 + 1rem);
$_h3: 2rem;
$_h3_line: calc($_h3 + 1rem);

// All _nav_items Sizes
$_nav_item_h1: 4rem;
$_nav_item_h1_line: calc($_nav_item_h1 + 1rem);
$_nav_item_h2: 1.8rem;
$_nav_item_h2_line: calc($_nav_item_h2 + 1rem);
$_nav_item_h3: 1.8rem;
$_nav_item_h3_line: calc($_nav_item_h3 + 1rem);

// All _nav_sub-items Sizes
$_nav_sub-item_h1: 4rem;
$_nav_sub-item_h1_line: calc($_nav_sub-item_h1 + 1rem);
$_nav_sub-item_h2: 1.6rem;
$_nav_sub-item_h2_line: calc($_nav_sub-item_h2 + 1rem);
$_nav_sub-item_h3: 1.8rem;
$_nav_sub-item_h3_line: calc($_nav_sub-item_h3 + 1rem);

// All _typo Sizes
$_typo_h1: 2.4rem;
$_typo_h1_line: calc($_typo_h1 + 1rem);
$_typo_h2: 2rem;
$_typo_h2_line: calc($_typo_h2 + 1rem);
$_typo_h3: 1.8rem;
$_typo_h3_line: calc($_typo_h3 + 1rem);

// All _links Sizes
$_link_h1: 2.2rem;
$_link_h1_line: calc($_link_h1 + 1rem);
$_link_h2: 2rem;
$_link_h2_line: calc($_link_h2 + 1rem);
$_link_h3: 1.4rem;
$_link_h3_line: calc($_link_h3 + 1rem);

// All _button Sizes
$_button_large: 2rem;
$_button_large_line: calc($_button_large + 1rem);
$_button_regular: 1.8rem;
$_button_regular_line: calc($_button_regular + 1rem);
$_button_small: 1.6rem;
$_button_small_line: calc($_button_small + 1rem);