// Syne
// @import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

@font-face {
    font-family: 'GilmerBold';
    src: url('/assets/fonts/Gilmer-Font/GilmerBold.otf')
}

@font-face {
    font-family: 'GilmerMedium';
    src: url('/assets/fonts/Gilmer-Font/GilmerRegular.otf');
}

@font-face {
    font-family: 'GilmerRegular';
    src: url('/assets/fonts/Gilmer-Font/GilmerRegular.otf');
}

@font-face {
    font-family: 'Arial';
    src: url('/assets/fonts/Arial-Font/Arial.TTF')
}
